body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 400 16px/1.5 "Allan", helvetica, Helvetica, Rockwell, cursive;
  color: #111;
  background: url("../images/bg-1.jpg") repeat scroll 0 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

img {
  max-width: 100%;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.hide-small {
  display: none; }

@media (min-width: 740px) {
  .hide-small {
    display: initial; }

  .hide-medium {
    display: none; } }
@media (min-width: 1024px) {
  .hide-small {
    display: initial; }

  .hide-large {
    display: none; } }
.digitalheader:after, .columnwrapper:after {
  content: "";
  display: table;
  clear: both; }

.dilogo {
  float: right;
  width: 45%; }

.libraryheader {
  padding-left: 3%;
  margin-bottom: -5px; }
  .libraryheader a {
    font-size: 1.35rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 1em; }

.titlebar {
  height: 60px;
  background: url("../images/body-home.png") repeat scroll 0 0;
  position: relative;
  margin: 0;
  color: white;
  padding: 0 3%;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3); }
  .titlebar ul {
    list-style-type: none; }
  .titlebar a {
    text-decoration: none; }

.title {
  position: absolute;
  top: 5px;
  line-height: 1;
  color: white; }
  .title h1 {
    font-size: 60px; }
  .title h2 {
    font-size: 16px; }
  .title li {
    display: inline-block; }

.navbox {
  text-align: center; }
  .navbox svg {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    float: right;
    margin-top: 10px; }
    .navbox svg path {
      fill: white; }

.smallnav {
  display: none;
  font-size: 18px;
  text-align: right;
  background-color: lightgrey;
  padding: 10px 3%;
  margin-top: 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3); }
  .smallnav li {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 1px;
    display: inline-block; }
  .smallnav a {
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    background-color: #789AA1;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3); }

.search-sm form input {
  font-family: 'Allan', Helvetica, Rockwell,cursive;
  font-size: 18px;
  padding: 3px 6px;
  border-radius: 5px;
  display: inline; }
.search-sm form .searchbutton {
  color: white;
  background-color: #789AA1;
  margin-left: 5px; }

.subtitle {
  padding: 0 6%; }
  .subtitle p {
    font-size: 20px;
    text-transform: uppercase; }

@media screen and (min-width: 740px) {
  .dilogo {
    float: none;
    height: 30px;
    padding-left: 5px; }

  .libraryheader {
    padding-left: 3%; }
    .libraryheader a {
      font-size: 32px; }

  .titlebar {
    height: 76px;
    padding: 0 3%; }

  .title h1 {
    font-size: 80px; }
  .title h2 {
    font-size: 36px;
    line-height: .9;
    margin-left: 20px; }

  .subtitle {
    padding: 0 3%; }
    .subtitle p {
      font-size: 32px;
      text-transform: uppercase; }

  .navbox svg {
    width: 56px;
    height: 56px;
    border: 2px solid white;
    padding: 4px;
    margin-top: 10px; }

  .smallnav {
    font-size: 22px; }
    .smallnav a {
      margin-left: 10px; }

  .search-sm form input {
    font-size: 22px; } }
@media screen and (min-width: 1024px) {
  .dilogo {
    margin-bottom: 10px;
    padding-left: 20px; }

  .libraryheader {
    padding-top: 8px;
    padding-left: 7%; }

  .titlebar {
    padding: 0 7%; }

  .topnav {
    position: absolute;
    bottom: 74px;
    right: 7%; }
    .topnav a {
      background-color: #fff;
      border-color: #5E5E65;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-style: solid solid none solid;
      border-width: 5px 5px 0px 5px;
      padding: 3px 7px 0px 7px;
      margin: 0px 10px;
      color: black;
      text-decoration: none; }
    .topnav a:hover {
      background: url("../images/body-home.png") repeat scroll 0 0;
      color: white; }

  .search form {
    float: right;
    margin-top: 20px; }
    .search form input {
      font-size: 20px;
      line-height: 1.5em;
      border-radius: 5px;
      display: inline;
      font-family: 'Allan', Helvetica, Rockwell,cursive; }
    .search form .searchbutton {
      color: white;
      background-color: #789AA1;
      margin-left: 10px; }

  .subtitle {
    padding: 0 7%; } }
.yearsmenu {
  position: absolute;
  top: 77px;
  right: 7%; }

#openyears a {
  cursor: pointer;
  background-color: #fff;
  border-color: #5E5E65;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none solid solid solid;
  border-width: 0px 5px 5px 5px;
  padding: 3px 7px 0px 7px;
  margin: 0px 10px;
  color: black;
  text-decoration: none;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3); }
#openyears a:hover {
  background: url("../images/body-home.png") repeat scroll 0 0;
  color: white; }

.years {
  display: none;
  position: absolute;
  right: 10px;
  top: 0px;
  width: 820px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  border: solid thin #5E5E65;
  border-radius: 5px;
  font-size: 22px;
  padding: 10px; }
  .years ul {
    margin-bottom: 6px; }
  .years li {
    min-width: 75px;
    display: inline-block;
    vertical-align: middle; }
    .years li a {
      color: black;
      padding: 5px 16px; }
    .years li a:hover {
      background-color: #789AA1;
      border-radius: 5px; }

.yearstitle {
  background-color: #789AA1;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 8px 8px;
  margin-bottom: 10px; }
  .yearstitle h3 {
    font-size: 22px;
    color: white; }

#closeyears {
  font-size: 18px;
  color: white;
  padding: 4px 16px;
  float: right;
  cursor: pointer;
  background-color: #5E5E65;
  border-radius: 5px; }

.yearsbutton {
  background-color: #789AA1;
  color: white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.allcollections {
  position: absolute;
  right: 0px;
  top: 0px; }

#opencollections a {
  cursor: pointer;
  color: white;
  font-size: 14px;
  background: #5E5E65;
  border-radius: 0px 0px 0px 20px;
  padding: 6px 15px 6px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3); }

.collections {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 999;
  width: 690px;
  background: #d3d3d6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px; }

.collectionstitle {
  background-color: #789AA1;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 8px 8px;
  margin-bottom: 10px; }
  .collectionstitle h2 {
    font-size: 24px;
    color: white; }

#closecollections {
  cursor: pointer;
  float: right;
  color: white;
  font-size: 18px;
  padding: 5px 16px;
  background-color: #5E5E65;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.searchallcollections {
  float: right;
  margin: 2px 20px; }
  .searchallcollections input {
    font-size: 18px;
    border-radius: 5px;
    display: inline;
    font-family: "Allan", helvetica, Helvetica, Rockwell, cursive; }
  .searchallcollections .button-all {
    color: white;
    background-color: #789AA1;
    margin-left: 10px; }

.collectionslist ul {
  list-style: none; }
.collectionslist li {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  background-color: white;
  border: 2px solid #5E5E65;
  border-radius: 5px; }
.collectionslist a {
  color: black;
  text-decoration: none;
  line-height: 1.6;
  padding: 0px 26px; }
  .collectionslist a strong {
    font-size: larger; }

@media screen and (min-width: 1024px) {
  .collections {
    width: 974px; } }
.contentwrapper {
  margin: 0 auto;
  padding: 5px 3% 20px; }

.page {
  padding: 6px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6); }
  .page p {
    font-family: Georgia, "Allan", Helvetica, Rockwell, cursive; }

.pageheader {
  padding: 10px 15px 5px; }

.columnwrapper {
  width: 98%;
  margin: 5px auto;
  padding: 0;
  display: block; }

.subpagetitle {
  font-size: 30px;
  line-height: 0.8; }
  .subpagetitle a {
    font-size: 40px;
    text-decoration: none;
    color: #789AA1;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3); }

.pagebutton li {
  list-style: none;
  background-color: #789AA1;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 15px;
  padding: 15px; }
.pagebutton a {
  text-decoration: none;
  color: white; }

@media screen and (min-width: 740px) {
  .pageheader {
    padding: 20px 15px 5px 25px; }

  .subpagetitle {
    font-size: 55px; }
    .subpagetitle a {
      font-size: 65px; }

  .page {
    padding: 15px 10px; } }
@media screen and (min-width: 1024px) {
  .contentwrapper {
    padding: 15px 8% 30px; }

  .column2 {
    float: left;
    width: 50%;
    padding: 0 5px; } }
.yearslist {
  list-style: none;
  width: 99%;
  margin: 0px auto;
  padding: 0;
  text-align: center; }
  .yearslist li {
    display: inline-block;
    padding: 10px;
    margin: 3px;
    background-color: #789AA1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6); }
    .yearslist li a {
      text-decoration: none;
      font-size: 22px;
      color: white; }

.issuelist li {
  list-style: none;
  width: 100%;
  border: 4px solid #5E5E65;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px; }
.issuelist div {
  display: inline; }

.issue {
  width: 25%;
  font-size: 20px; }

.subject {
  width: 70%; }

footer {
  background: url("../images/body-home.png") repeat scroll 0 0;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 1rem; }

.show {
  display: block; }
